@import '../../Styles/variables';


.cue-card-container {
  margin: 48px 0;
  .cue-card-content {
    max-width: 1053px;
    width: 100%;
    margin: 0 auto;
    padding: 48px;
    border: 1px solid $grey3;
    border-radius: 16px;
  }
  .cue-card-content-decription {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 18px;
    color: $grey10;
    font-weight: 300;
  }
  .cue-card-price-container {
    font-size: 48px;
    display: inline-block;
    font-weight: 400;
    margin-left: 62px;
    // margin-bottom: 48px;
  }
  .margin-left62{ 
    margin-left: 62px;
  }
  .cue-card-sections {
    padding: 48px 0;
    // border: 1px solid $grey3;
  }
}

.cue-modal-container {
  position: absolute;
  font-family: $fontFamily;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  // display: flex;
  // justify-content: center;
  width: 100%;
  background-color: $primary;
  max-width: 600px;
  margin: 5px;
  padding: 36px;
  border: 1px solid $grey3;
  border-radius: 13px;
  
  .cue-modal-header {
    font-size: 35px;
    font-weight: 500;
  }
  .cue-modal-messaage {
    margin: 32px 0;
  }
  .cue-modal-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
}