.custom-last-div{
    padding-bottom: 0 !important;
    height: 16px;
}
.custom-margin-10{
    margin-top: 10px;
}

.vertical-bar {
    position: absolute;
    left: -1px;
    width: 1px;
    background-color: #fff;
}