@import './variables';

.text-white {
  color: $white;  
}
.text-black {
  color: $black;
}
.text-grey {
  color: #667085;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-ECFDF3 {
  background-color: #ECFDF3;
}
.bg-FFFAEB {
  background-color: #FFFAEB;
}
.bg-FEF3F2 {
  background-color: #FEF3F2;
}
.bg-F2F4F7 {
  background-color: $grey15;
}
.bg-warning {
  background-color: $warningColor1;
}
.bg-F5FBEE {
  background-color: #F5FBEE;
}
.bg-F9F5FF {
  background-color: #F9F5FF;
}
.bg-DC6803 {
  background-color: $warningColor;
}
.bg-FFFCF5 {
  background-color: #FFFCF5;
}
.bg-CFCFCF {
  background-color: $grey2;
}
.bg-3247FF {
  background-color: $gradientColor1;
}
.bg-FF8970 {
  background-color: $dangerColor;
}
.bg-1D2939 {
  background-color: $grey12;
}

.bg-282828 {
  background-color: $grey5;
}

.bg-F9FAFB {
  background-color: #F9FAFB;
}

.bg-F4EBFF {
  background-color: #F4EBFF;
}

.bg-3E4784 {
  background-color: $grayBlueColor;
}

.bg-E0F2FE {
  background-color: #E0F2FE;
}

.bg-282727 {
  background-color: #282727;
}
.bg-121212 {
  background-color: #121212;
}

.bg-FCFCFD {
  background-color: #FCFCFD;
}