// Padding

.padding-0 {
  padding: 0px !important;
}

.padding-t0 {
  padding-top: 0px;
}

.padding-b0 {
  padding-bottom: 0px;
}

.padding-l0 {
  padding-left: 0px;
}

.padding-r0 {
  padding-right: 0px;
}

.padding-x0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-y0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-3 {
  padding: 3px;
}

.padding-t3 {
  padding-top: 3px;
}

.padding-b3 {
  padding-bottom: 3px;
}

.padding-l3 {
  padding-left: 3px;
}

.padding-r3 {
  padding-right: 3px;
}

.padding-x3 {
  padding-left: 3px;
  padding-right: 3px;
}

.padding-y3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.padding-4 {
  padding: 4px;
}

.padding-t4 {
  padding-top: 4px;
}

.padding-b4 {
  padding-bottom: 4px;
}

.padding-l4 {
  padding-left: 4px;
}

.padding-r4 {
  padding-right: 4px;
}

.padding-x4 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-y4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-5 {
  padding: 5px;
}

.padding-t5 {
  padding-top: 5px;
}

.padding-b5 {
  padding-bottom: 5px;
}

.padding-l5 {
  padding-left: 5px;
}

.padding-r5 {
  padding-right: 5px;
}

.padding-x5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-y5 {
  padding-top: 5px;
  padding-bottom: 5px;
}


.padding-8 {
  padding: 8px;
}

.padding-t8 {
  padding-top: 8px;
}

.padding-b8 {
  padding-bottom: 8px;
}

.padding-l8 {
  padding-left: 8px;
}

.padding-r8 {
  padding-right: 8px;
}

.padding-x8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-y8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-l7 {
  padding-left: 7px;
}
.padding-y8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-10 {
  padding: 10px;
}

.padding-t10 {
  padding-top: 10px;
}

.padding-b10 {
  padding-bottom: 10px;
}

.padding-l10 {
  padding-left: 10px;
}

.padding-r10 {
  padding-right: 10px;
}

.padding-x10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-y10 {
  padding-top: 10px;
  padding-bottom: 10px;
}


.padding-12 {
  padding: 12px;
}

.padding-t12 {
  padding-top: 12px;
}

.padding-b12 {
  padding-bottom: 12px;
}

.padding-l12 {
  padding-left: 12px;
}

.padding-r12 {
  padding-right: 12px;
}

.padding-x12 {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-y12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-14 {
  padding: 14px;
}

.padding-t14 {
  padding-top: 14px;
}

.padding-b14 {
  padding-bottom: 14px;
}

.padding-l14 {
  padding-left: 14px;
}

.padding-r14 {
  padding-right: 14px;
}

.padding-x14 {
  padding-left: 14px;
  padding-right: 14px;
}

.padding-y14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.padding-15 {
  padding: 15px;
}

.padding-t15 {
  padding-top: 15px;
}

.padding-b15 {
  padding-bottom: 15px;
}

.padding-l15 {
  padding-left: 15px;
}

.padding-r15 {
  padding-right: 15px;
}

.padding-x15 {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-y15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-16 {
  padding: 16px;
}

.padding-t16 {
  padding-top: 16px;
}

.padding-b16 {
  padding-bottom: 16px;
}

.padding-l16 {
  padding-left: 16px;
}

.padding-r16 {
  padding-right: 16px;
}

.padding-x16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-y16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-20 {
  padding: 20px;
}

.padding-t20 {
  padding-top: 20px;
}

.padding-b20 {
  padding-bottom: 20px;
}

.padding-l20 {
  padding-left: 20px;
}

.padding-r20 {
  padding-right: 20px;
}

.padding-x20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-y20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-24 {
  padding: 24px;
}

.padding-b24 {
  padding-bottom: 24px;
}

.padding-x24 {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-y24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-25 {
  padding: 25px;
}

.padding-t25 {
  padding-top: 25px;
}

.padding-b25 {
  padding-bottom: 25px;
}

.padding-l25 {
  padding-left: 25px;
}

.padding-r25 {
  padding-right: 25px;
}


.padding-x25 {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-y25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padding-30 {
  padding: 30px;
}

.padding-t30 {
  padding-top: 30px;
}

.padding-b30 {
  padding-bottom: 30px;
}

.padding-l30 {
  padding-left: 30px;
}

.padding-r30 {
  padding-right: 30px;
}


.padding-x30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-y30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-35 {
  padding: 35px;
}

.padding-t35 {
  padding-top: 35px;
}

.padding-b35 {
  padding-bottom: 35px;
}

.padding-l35 {
  padding-left: 35px;
}

.padding-r35 {
  padding-right: 35px;
}

.padding-x35 {
  padding-left: 35px;
  padding-right: 35px;
}

.padding-y35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.padding-40 {
  padding: 40px;
}

.padding-t40 {
  padding-top: 40px;
}

.padding-b40 {
  padding-bottom: 40px;
}

.padding-l40 {
  padding-left: 40px;
}

.padding-r40 {
  padding-right: 40px;
}

.padding-l44 {
  padding-left: 44px;
}
.padding-l17 {
  padding-left: 17px;
}

.padding-48 {
  padding: 48px;
}
.padding-b48 {
  padding-bottom: 48px;
}

.padding-x48 {
  padding-left: 48px;
  padding-right: 48px;
}

.padding-y48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

// Padding in rem

.padding-rem-b0_875 {
  padding-bottom: 0.875rem;
}
.padding-rem-x1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-rem-y2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// 48px
.padding-rem-b3 {
  padding-bottom: 3rem;
}

.padding-rem-t3 {
  padding-top: 3rem;
}

// 48px
.padding-rem-3 {
  padding: 3rem;
}

