
// width in percentage
.w-full {
    width: 100%;
}
.w-33 {
    width: calc(100% / 3);
}
.w-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-35 {
    width: 35%;
}

.width-40 {
    width: 40%;
}

.width-65 {
    width: 65%;
}

.width-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}
// width in px

.w-17px {
    width: 17px;
}

.w-15px {
    width: 15px;
}
.w-36px{
    width: 36px;
}

.width-27px {
    width: 27px;
}

.w-100px {
    width: 100px;
}

.w-64px {
    width: 64px;
}
.w-48px {
    width: 48px
}
.w-20px {
    width: 20px;
}
.w-24px {
    width: 24px;
}
.w-250px {
    width: 250px;
}
.w-185px {
    width: 185px;
}

// max-width in percentage

.max-width45 {
    max-width: 45%;
}

// max-width in px

.max-width480 {
    max-width: 480px;
}

.max-width420 {
    max-width: 420px;
}

.max-width320 {
    max-width: 320px;
}

.max-w64px {
    max-width: 64px;
}
.max-w20px {
    max-width: 20px;
}

// min-width in px
.min-width160 {
    min-width: 160px;
}

.min-width352 {
    min-width: 352px;
}