@import '../../Styles/variables';
.select-container {
  width: 100%;
  color: $white;
  border: 1px solid $grey3;
  cursor: pointer;
  background-color: $primary;
  border-radius: 12px;
  &.selected {
    border-color: $grey9;
  }
  .select-container-body {
    max-height: 130px;
    overflow-y: auto;
    padding: 0 22px;
  }
  .select-list-item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $grey3;
  }
}