@import '../../Styles/variables';

.step-container {

}

.question-title {
  // font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 38px;
}
.action-button-container {
    
}
.checkbox-container {
  width: 50%;
}